!!!
- sub_title = "クラ代について"
- content_addr = "aboutus"
%html
  %head
    %title #{sub_title} | #{Haml::Engine.new(File.read('./src/haml/template/title.haml')).render}
    = Haml::Engine.new(File.read("./src/haml/template/head.haml")).render

  %body
    = Haml::Engine.new(File.read("./src/haml/template/nav.haml")).render

    #content.container
      = Haml::Engine.new(File.read("./src/haml/content/#{content_addr}.haml")).render
      
    = Haml::Engine.new(File.read("./src/haml/template/foot.haml")).render